    <!-- ======= coasa riguarda Section ======= -->
    <section id="cosa_riguarda" class="cosa_riguarda">
      <div class="container" data-aos="fade-up">
<div class="row">
<!--immagini left-->
        
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
            <br><br><br><br><br><br>
            <img src="assets/img/about2.jpg" class="img-fluid" alt="">
          </div>
        
               <!--scritura rigtht-->
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          
        
            <h3>cosa è la ginnastica e come si divide?</h3>
            <p class="fst-italic">
              innanzitutto possiamo dire che ci sono diversi tipi di ginnastica e noi parleremo delle succesive:  
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>Ginnastica artistica femminile</li>
              <li><i class="ri-check-double-line"></i>Ginnastica artistica maschile</li>
              <li><i class="ri-check-double-line"></i>Ginnastica ritmica</li>
              <li><i class="ri-check-double-line"></i>Ginnastica aerobica</li>
              <li><i class="ri-check-double-line"></i>Trampolino elastico</li>
            </ul>
            <p>
             <p> La Ginnastica Artistica è una delle discipline più antiche e complete, che sviluppa sia le capacità condizionali, quali forza, velocità e resistenza, sia le doti caratteriali come il coraggio, la volontà, la costanza e la combattività.
              E´ uno sport completo perché grazie alla complessità dei movimenti coinvolge tutti i settori del corpo. E´ una disciplina olimpica, presente dal 1896 con il settore maschile e dal 1928 anche con il settore femminile.
              La differenza tra maschile e femminile sta nell´utilizzo dei grandi attrezzi.<br>
               Per l´artistica femminile abbiamo il volteggio, la trave, le parallele asimmetriche e il corpo libero (accompagnato da musica).<br>
               Per l´artistica maschile abbiamo il corpo libero, il cavallo con maniglie, gli anelli, il volteggio, le parallele pari e la sbarra.
              </p>
             <p>La Ginnastica Ritmica è una disciplina della ginnastica e uno sport olimpico principalmente 
              femminile, di squadra, individuale o a coppie. Le ginnaste individuali possono decidere di 
              partecipare principalmente a due tipi di gare: la specialità o la categoria. Le ginnaste che
              partecipano al campionato di categoria devono sostenere quattro rotazioni (ossia eseguire 
             quattro esercizi) con attrezzi differenti tra fune, cerchio, palla, clavette e nastro stabiliti
              dalla federazione italiana a differenza delle ginnaste che decidono di partecipare al 
              campionato di specialità che hanno la possibilità di scegliere due attrezzi.</p>
          
           
             <p>La Ginnastica Aerobica è una disciplina sportiva entrata di recente nell'
             ambito di quelle riconosciute dalle federazioni sportive di ginnastica. 
             Lo sport consiste nel fare una coreografia, con elementi obbligatori e a scelta, 
             sulla pedana (tavola in legno molleggiante) con la musica. Lo spazio da prendere
             dipende dalla categoria e dal numero di persone.</p>
             <p>Il trampolino elastico è una disciplina della ginnastica,
              riconosciuta sport olimpico dal C.I.O. nel 1998 Gli esercizi 
             sono principalmente salti doppi e tripli, raggruppati tesi o
             carpiati, spesso anche con avvitamenti. Oltre alle gare singole,
             esistono anche quelle sincro, con due ginnaste o due ginnasti
             che devono eseguire lo stesso elemento nello stesso momento partendo
             rivolti nella stessa direzione, e quelle a squadre: una squadra è composta 
             da tre o quattro atleti, che presentano due esercizi in qualificazione e 
             uno in finale. Il punteggio complessivo si ottiene sommando i 
             3 punteggi più alti ottenuti dai componenti della squadra in ciascun esercizio.  </p>
              
               
               

          </div>
        </div>

      </div>
    </section><!-- End About Section -->